{
    "parserOptions": {
      "ecmaVersion": 6
    },
    "extends": "standard",
    "env": {
      "node": true,
      "es6": true,
      "jasmine": true,
      "mocha": true
    },
    "rules": {
      "semi": 0,
      "space-infix-ops": [2, {"int32Hint": false}],
      "space-before-function-paren": 0,
      "jsx-quotes": 1
    },
    "plugins": [
        "standard",
        "react"
    ]
}
