{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "extends": "standard",
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "standard"
  ],
  "rules": {
    "space-before-function-paren": "off",
    "space-infix-ops": "error"
  }
}
